.DS_Store
h2d-libgdx-spine-extension/build/
hyperlap2d-common-api/build/
hyperlap2d-runtime-libgdx/build/
plugin-9patch/build/
plugin-performance/build/
plugin-tiled/build/
plugin-skin-composer/build/
/.gradle/**
/build/
/out/
.idea/
#/assets/
#/TestGame/
#/settings.gradle
#/WebTest/
/DesktopTest/build/
/DesktopTest/out/
/TestGame/build/
/TestGame/out/
/WebTest/build/
/WebTest/war/
